/* ActivityCard.css */

.activity-card {
  background-color: #fdc600; /* 카드의 배경색을 설정합니다. */
  border-radius: 8px; /* 카드를 둥글게 만듭니다. */
  padding: 20px; /* 내부 여백을 설정합니다. */
  margin-right: 20px; /* 각 카드 사이의 간격을 조절합니다. */
  color: #000814;
}

.activity-card h3 {
  margin-top: 0; /* 제목의 위 여백을 제거합니다. */
}

.activity-card p {
  margin: 0; /* 문단의 위아래 여백을 제거합니다. */
}
